language: node_js
node_js:
  - "0.12.7"
  - "4.4.3"
  - "5.10.1"
matrix:
  fast_finish: true
script: "npm run-script test-ci"
after_script: "npm install coveralls@2.11.9 && cat ./coverage/lcov.info | coveralls"
