table {
    border-spacing: 2px;
}

th, td {
  white-space: nowrap;
  text-overflow: ellipsis;
}

td {
  padding-left:1px;
  padding-right:1px;
}

th{
    color: #000;
    background-color: #DDD;
    border-bottom:3px solid white;
}

.centrado {
    text-align: center;
}

.right-align{
    text-align: right;
}